<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.typekit.net/jfh1pyt.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://use.fontawesome.com/bf8cb3f9af.js"></script>
  </head>

  <body>
    <%= render 'header' %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <%= debug(params) if Rails.env.development? %>
    <%= render 'footer' %>
  </body>
</html>
